@font-face {
  font-family: 'lalezar';
  src: url('./assets/fonts/Lalezar.ttf');
}
@font-face {
  font-family: 'yekan';
  src: url('./assets/fonts/Yekan.ttf');
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'yekan' , sans-serif;
}
.lalezar{
  font-family: 'lalezar';
}